DATABASE_URL="mysql://root:password@localhost:3306/cyberstore"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-long-random-string"

BREVO_API_KEY=""
BREVO_SENDER_EMAIL="noreply@cyberstore.local"

TASKER_SECRET="replace-tasker-secret"
TRUST_PROXY="true"
BASE_QRIS_STRING="000201010211...ISI_BASE_QRIS_STATIS_MERCHANT..."
